/*
Theme Name: Linear
Theme URI: http://gitlab.com/northivanastan/linear.css
Author: Ivan Stanton
Author URI: http://wordpress.org/
Description: A minimalistic theme for mobile websites
Version: 1.0
License: CC0 1.0 Universal
License URI: https://creativecommons.org/publicdomain/zero/1.0/legalcode
Tags: black, white, one-column, two-columns, three-columns, flexible-width
Text Domain: linear

linear.css by Ivan Stanton
A minimalistic CSS base for various projects. Built on horizontal "segments" themed with "flairs."
To the maximum extent I can possibly allow you to by applicable law, you may do whatever you want with this file.
*/
.special-button {
border-radius: 2px;
background-color: inherit;
padding-left: 14pt;
padding-right: 14pt;
font-family: inherit;
color: inherit;
margin: 0 0 0 0;
display: initial;
}
.segment-grid-double {
max-width: 100%;
display: grid;
grid-template-columns: 50% 50%;
}
.segment-grid-triple {
max-width: 100%;
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
.segment-grid-triple-bigright {
max-width: 100%;
display: grid;
grid-template-columns: 33.33% 66.67%;
grid-template-columns: calc(100% / 3) calc(100% * 2 / 3);
}
.segment-grid-triple-bigleft {
max-width: 100%;
display: grid;
grid-template-columns: 66.67% 33.33%;
grid-template-columns: calc(100% * 2 / 3) calc(100% / 3);
}
.segment-head {
max-width: 100%;
padding-left: 4vw;
padding-right: 4vw;
text-align: center;
padding-top: 1vw;
padding-bottom: 1vw;
}
.segment-head a {
text-decoration: none;
}
.segment-text {
max-width: 100%;
padding-left: 4vw;
padding-right: 4vw;
padding-top: 2vw;
padding-bottom: 2vw;
display: block;
}
.segment-mini {
max-width: 100%;
padding-left: 4vw;
padding-right: 4vw;
padding-bottom: 1vw;
padding-top: 1vw;
}
.segment-nav {
display: block;
text-align: center;
margin: 0 0 0 0;
width: 100%;
white-space: wrap;
}
.segment-nav ul {
list-style-type: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
text-align: center;
width: 100%;
font-size: 0;
}
.segment-nav li {
list-style-type: none;
min-width: 25%;
display: inline-block;
padding-top: 1vw;
padding-bottom: 1vw;
font-weight: 600;
text-align: center;
margin: 0 0 0 0;
padding-left: 0;
padding-right: 0;
}
.segment-nav li:nth-child(1):nth-last-child(1), li:nth-child(1):nth-last-child(1) ~ li{
width: 100%
}
.segment-nav li:nth-child(1):nth-last-child(2), li:nth-child(1):nth-last-child(2) ~ li{
width: 50%;
}
.segment-nav li:nth-child(1):nth-last-child(3), li:nth-child(1):nth-last-child(3) ~ li{
width: 33.333%;
width: calc(100%/3);
}
.segment-nav li:nth-child(4n+1):nth-last-child(1), li:nth-child(5):nth-last-child(1) ~ li{
min-width: 100%
}
.segment-nav li:nth-child(4n+1):nth-last-child(2), li:nth-child(5):nth-last-child(2) ~ li{
width: 50%;
}
.segment-nav li:nth-child(4n+1):nth-last-child(3), li:nth-child(5):nth-last-child(3) ~ li{
width: 33.333%;
width: calc(100%/3);
}
.segment-nav a {
color: inherit;
text-decoration:none;
}
.segment-image {
height: 36em;
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width:100%;
display: flex;
justify-content: center;
align-items: center;
}
.flair-text {
background-color: #fff;
color: #000;
}
.flair-text pre, input {
background-color: #eee;
}
.flair-info {
background-color: #18f;
color: #fff;
}
.flair-info pre, input, .special-button {
background-color: #17e;
}
.flair-info a {
color: #fff;
}
.flair-success {
background-color: #0d6;
color: #fff;
}
.flair-success pre, input, .special-button {
background-color: #0c5;
}
.flair-warning {
background-color: #f40;
color: #fff;
}
.flair-warning pre, input, .special-button {
background-color: #e30;
}
.flair-title{
background-color: #000;
color: #fff;
font-family: Comfortaa, Montserrat, sans-serif;
font-size: 6vh;
font-size: calc(3rem + 3vh);
text-align: center;
}
.flair-nav {
background-color: #000;
color: #fff;
font-size: 2vh;
text-transform: uppercase;
}
.flair-nav li {
font-size: 1.8vh;
font-size: calc(0.8rem + 1vh);
}
.flair-nav.segment-nav li:hover {
background-color: #505050;
}
.flair-black {
background-color: #000;
color: #fff;
}
.flair-black.segment-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.mod-center {
text-align: center;
}
.mod-24em {
height: 24em;
}
.linear {
font-family: Noto Sans, Verdana, sans-serif;
font-size: 1em;
}
.linear h1, h2, h3, h4, h5, h6{
text-transform: uppercase;
}
.linear h1, h2, h3, h4, h5, h6,p{
padding-top: 0.3em;
padding-bottom: 0.3em;
}
.linear h1 {
font-size: 3em;
}
.linear h2 {
font-size: 2.25em;
}
.linear h3 {
font-size:1.75em;
}
.linear h4 {
font-size: 1.5em;
}
.linear h5 {
font-size: 1.25em;
}
.linear h6 {
font-weight: 700;
font-size: 1em;
}
.linear pre {
overflow-x: auto;
width: 100%;
white-space: pre-line;
padding: 0.8vw;
}
.linear button {
font-size: 1em;
}
body.linear {
margin: 0 0 0 0;
}
